.fondo{
	background-color: rgba(0,69,107,0.76);
}
.fondoGris{
	background-color: rgba(89, 89, 89,0.5);
}
.imgRedonda{
	border-radius: 151px;
}
.footer__paginasDeInteres ul{
	list-style: none;
}
.footer__redesSociales ul{
	list-style: none;
}
.footer__paginasDeInteres ul li a{
	color :#c7b854;
	text-decoration: none;
}

				/*------------------------------------------responsive-tablet+------------------------------------------*/

@media only screen and (min-width: 768px){/*A partir de md*/
	body{
		background-image: url(images/imagenheader.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.header__titulo--posicion{
		padding-top: 7vw;
		padding-bottom: 7vw;
	}
	.header__titulo--estiloTexto{
		color: #1aba5d;
		font-size: 80px;
		font-family: 'Ranchers', cursive;
		letter-spacing: 3px;
	}
	.header__menu__link--efecto:hover{
		background-color: rgba(148,155,2,0.58);
	    transition: background-color 1s ease;
	}
													/*INDEX ARTICULO*/
	#imagenIndex{
		height: 60%;
		width: 70%;
	}
	.paginaPrincipal__sobreMi__titulo--estilo{
		margin-top: .5rem;
		font-size: 40px;
		color: #e0cf5e;
		text-align: center;
	}
	.paginaPrincipal__sobreMi__texto--estilo{
		font-size: 17px;
		color: #c7b854;
		text-align: center;
	}
	
	.paginaPrincipal__sobreMi{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
	}
	/*Fin index articulo*/
	/*FOOTER*/
	.footer__paginasDeInteres{
		font-size: 38px;
		text-align: center;
	}
	.footer__paginasDeInteres ul{
		padding: 0;
	}
	.footer__redesSociales ul{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
	}
	/*Fin Footer*/
	/*highlight*/
	.highlight{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.highlight__titulo{
		font-size: 40px;
		color: #c7b854;
	}
	.highlight__descripcion{
		text-align: center;
		font-size: 20px;
		color:  #c7b854;
	}
	.highlight__video iframe{
		height:400px;
	}	
	/*Fin de highlight*/
	/*Estadisticas*/
	.estadisticas__ligaActual__liga{
		display: flex;
		justify-content: center;
	}
	.estadisticas__ligaActual__datos{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.estadisticas__ligaActual__datos h4{
		color :#c7b854; 
		font-size: 3rem;
	}
	.estadisticas__ligaActual__datos strong small{
		color: #bbbdbf;
		font-size: 2rem;
	}
	.estadisticas__ligaAnterior__liga{
		display: flex;
		justify-content: center;
	}
	.estadisticas__ligaAnterior__datos{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.estadisticas__ligaAnterior__datos h4{
		color :#c7b854; 
		font-size: 3rem;
	}
	.estadisticas__ligaAnterior__datos strong small{
		color: #bbbdbf;
		font-size: 2rem;
	}


	.campeonesUtilizados__titulo{
		color: #c7b854;
		font-size: 80px;
	}
	.campeonesUtilizados__campeonDestacado__datos{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.campeonesUtilizados__campeonDestacado__datos h4{
		color :#ffa200; 
		font-size: 3rem;
	}
	.campeonesUtilizados__campeonDestacado__datos strong small{
		text-align: center;
		color: #ffa200;
		font-size: 2rem;
	}
	.tituloGrafico b{
		color: #fd7e14;
	}
	.tituloGrafico strong{
		color: #17a2b8;
	}
	/*Fin de estadisticas*/

	/*Contacto*/
	.contacto_formulario-estilo{
		color:#d3d694;
	}
	/*Fin Contacto*/

}
				/*------------------------------------------responsive-celu------------------------------------------*/

@media only screen and (max-width: 767px){/*menos de md*/
	body{
		background-image: url(images/imagenHeaderResponsive.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.header__titulo--posicion{
		padding-top: 10vw;
		padding-bottom: 10vw;
	}
	.header__titulo--estiloTexto{
		color: #1aba5d;
		font-size: 50px;
		font-family: 'Ranchers', cursive;
		letter-spacing: 3px;
	}
	#menu ul li{
		 border: 1px solid #d0d0d0;	 
	}
	#imagenIndex{
		height: 90%;
		width: 50%;
	}
	.paginaPrincipal__sobreMi{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.paginaPrincipal__sobreMi__titulo--estilo{
		margin-top: .5rem;
		font-size: 40px;
		color: #e0cf5e;
		text-align: center;
	}
	.paginaPrincipal__sobreMi__texto--estilo{
		font-size: 17px;
		color: #c7b854;
		text-align: center;

	}
	/*FOOTER*/
	.footer__logo{
		padding-top:15px; 
	}
	.footer__paginasDeInteres{

		font-size: 5vw;
		text-align: center;
	}
	.footer__paginasDeInteres ul{
		padding: 0;
	}
	.footer__redesSociales ul{
		display: flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: space-around;
		align-items: center;
	}
	/*FIN FOOTER*/
	.highlight{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.highlight__titulo{
		font-size: 20px;
		color: #c7b854;
	}
	.highlight__descripcion{
		text-align: center;
		font-size: 12px;
		color:  #c7b854;
	}
	.highlight__video iframe{
		height:250px;
	}
	/*ESTADISTICAS*/
	.estadisticas__ligaActual__liga{
		display: flex;
		justify-content: center;
	}
	.estadisticas__ligaActual__datos{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.estadisticas__ligaActual__datos h2{
		color :#c7b854; 
	}
	.estadisticas__ligaActual__datos h2 small{
		color: #bbbdbf;
	}
	.estadisticas__ligaAnterior__liga{
		display: flex;
		justify-content: center;
	}
	.estadisticas__ligaAnterior__datos{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.estadisticas__ligaAnterior__datos h2{
		color :#c7b854; 
	}
	.estadisticas__ligaAnterior__datos h2 small{
		color: #bbbdbf;
	}
	.campeonesUtilizados__titulo{
		color: #c7b854;
		font-size: 25px;
	}
	.campeonesUtilizados__campeonDestacado__datos{
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.campeonesUtilizados__campeonDestacado__datos h4{
		color :#ffa200; 
		font-size: 3rem;
	}
	.campeonesUtilizados__campeonDestacado__datos strong small{
		text-align: center;
		color: #ffa200;
		font-size: 2rem;
	}		
	/*FIN DE ESTADISTICAS*/
	/*Contacto*/
	.contacto_formulario-estilo{
		color:#d3d694;
	}
	/*Fin Contacto*/
}
/*Notas de parche*/
.notasDeParche__titulo{
	color: #ffa200;
	font-size: 80px;
}
.notasDeParche__campeon__cambios{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.notasDeParche__campeon__cambios h4{
	text-align: center;
	color: #ffa200;
}
.notasDeParche__nuevosAspectos__titulo{
	font-size: 40px;
	color: #ffa200;
}
.notasDeParche__item__cambios{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.notasDeParche__item__cambios h4,strong{
	text-align: center;
	color: #ffa200;
	font-size: 1.5rem;
}

.notasDeParche__item__cambios strong small{
	color: rgba(255,162,0,0.5);
}
.notasDeParche__tituloCambiosEnItems{
	color: #ffa200;
	font-size: 60px;
}
.notasDeParche__tituloCambiosEnItems{
	color: #ffa200;
	font-size: 60px;
}
.notasDeParche__campeon__cambios p{
	color: rgb(255,255,255);
	text-align: left;
}

