$fondo:rgba(0,69,107,0.76);
$colorLetra: #d3d694;
$breakpoint-tablet: 767px;
.fondoGris{background-color: rgba(89, 89, 89,0.5);}
.fondo{background-color:$fondo;}

@media (min-width: $breakpoint-tablet) {
	body{	
		background-image: url(../images/imagenheader.jpg);
		background-size: cover	;
		background-repeat: no-repeat;
		background-attachment: fixed;

		header{
			nav{
				background-color:$fondo;
			}
			.header__titulo--posicion{
				padding-top: 7vw;
				padding-bottom: 7vw;
			}
			.header__titulo--estiloTexto{
				color: #1aba5d;
				font-size: 80px;
				font-family: 'Ranchers', cursive;
				letter-spacing: 3px;
			}
			.header__menu__link--efecto:hover{
				background-color: rgba(148,155,2,0.58);
			    transition: background-color 1s ease;
			}
		}


		#imagenIndex{
			height: 60%;
			width: 70%;
		}	
		.paginaPrincipal__sobreMi{
			background-color:$fondo;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			h2{
				margin-top: .5rem;
				font-size: 60px;
				color: white;
				text-align: center;
			}
			p{
				font-size: 20px;
				color: #c7b854;
				text-align: center;
				font-family: 'David Libre', serif;
			}
		}

		.estadisticas{
 			
 			.liga{
 				display: flex;
				justify-content: center;
 			}
 			.datos{
 				display: flex;
				flex-direction: column;
				text-align: center;
				h4{
					color :#c7b854; 
					font-size: 3rem;
				}
				strong {
					color: #ffa200;
					font-size: 2rem;
					small{
						color: #bbbdbf;
						font-size: 2rem;
					}
				}
 			}
		}
		.grafico img{
			background-color:$fondo;
		}
		.campeonesUtilizados__titulo{
			color: #c7b854;
			font-size: 80px;
		}
		.campeonUtilizado{
			display: flex;
			flex-direction: column;
			text-align: center;
			h4{
				color :#ffa200; 
				font-size: 3rem;
			}
			strong {
				font-size:1.5rem;
				color: #ffa200;
				small{
					text-align: center;
					color: #ffa200;
					font-size: 2rem;
				}
			}
		}
		.highlight{
			background-color:$fondo;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom:1rem;
			h3{
				text-align: center;
				font-size: 40px;
				color: #c7b854;
				padding-top:1.5rem;
				padding-bottom:1.5rem;
			}
			p{
				text-align: center;
				font-size: 20px;
				color:  #c7b854;
				padding-left:1rem;
				padding-right:1rem;
				padding-top:1rem;
				padding-bottom:1rem;
				font-weight: bold;
			}
			iframe{
				height:400px;
			}
		}
		.notasDeParche__contenedor{
			display:flex;
		}
		.notasDeParche__titulo{
			color: #ffa200;
			font-size: 80px;
			text-align:center;
		}
		.notasDeParche__campeon{
			display: flex;
			flex-direction: column;
			text-align: center;
			h4{
				text-align: center;
				color: #ffa200;
			}
			p{
				font-size:20px;
				color: rgb(255,255,255);
				text-align: left;
			}
		}
		.carousel-item img{
			width:930px;
			height:520px;
		}
		.notasDeParche__titulo__aspectos{
			font-size: 60px;
			color: #ffa200;
			text-align:center;
			justify-content:center;
			align-items:center;
			display:flex;
		}
		.notasDeParche__item{
			display: flex;
			flex-direction: column;
			text-align: center;
			h4{
				text-align: center;
				color: #ffa200;
				font-size: 1.5rem;
			}
			strong{
				text-align: center;
				color: #ffa200;
				font-size: 1.5rem;
				small{
					color: rgba(255,162,0,1);
				}
			}
		}
		.contacto_formulario-estilo{
			color:#d3d694;
			
			fieldset{
				background-color:$fondo;
			}
		}

		footer{
			div{
				div{
					#logoFooter{
						border-radius: 151px;
						width:40%;
					}				
				}
			}

			background-color: $fondo;
			padding-top:10px;
			padding-bottom:10px;
			.footer__paginasDeInteres ul{
				list-style: none;
				padding: 0;
			}
			.footer__redesSociales {

				ul{
					list-style: none;	
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-around;
					margin:0;
					padding:0;

					li{
						display:flex;
						padding:0;
						.logoRedSocial{
							width:75%;
						}
					}
				}
			}
			.footer__paginasDeInteres ul li a{
				color :#c7b854;
				text-decoration: none;
			}
			.footer__paginasDeInteres{
				ul{
					margin:0;
					li{
						a:hover{
							color:white;
						}
					}
				}

				font-size: 20px;
				text-align: center;
			}
		}
	}
}
@media (max-width: $breakpoint-tablet) {
	body{	
		background-image: url(../images/imagenHeaderResponsive.jpg);
		background-size: cover	;
		background-repeat: no-repeat;
		background-attachment: fixed;
		header{
			nav{
				background-color:$fondo;
			}
			.header__titulo--posicion{
				padding-top: 4rem;
				padding-bottom: 1rem;
				margin:0;
			}
			.header__titulo--estiloTexto{
				color: #1aba5d;
				font-size: 80px;
				font-family: 'Ranchers', cursive;
				letter-spacing: 3px;
			}
			.header__menu__link--efecto:hover{
				background-color: rgba(148,155,2,0.58);
			    transition: background-color 1s ease;
			}
		}

		#imagenIndex{
			height: 90%;
			width: 70%;
		}	
		.paginaPrincipal__sobreMi{
			background-color:$fondo;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			h2{
				margin-top: .5rem;
				font-size: 2.5rem;
				color: white;
				text-align: center;
			}
			p{
				font-size: 20px;
				color: #c7b854;
				text-align: center;
				font-family: 'David Libre', serif;
			}
		}

		.estadisticas{

	 			.liga{
	 				display: flex;
					justify-content: center;
	 			}
	 			.datos{
	 				display: flex;
					flex-direction: column;
					text-align: center;
					h4{
						color :#c7b854; 
						font-size: 3rem;
					}
					strong {
						color: #ffa200;
						font-size: 2rem;
						small{
							color: #bbbdbf;
							font-size: 2rem;
						}
					}
	 			}
 			
		}
		.grafico{
			margin-top:1rem;
			margin-bottom:1rem;
		}
		.campeonesUtilizados__titulo{
			color: #c7b854;
			font-size: 40px;
		}
		.campeonUtilizado{
			display: flex;
			flex-direction: column;
			text-align: center;
			h4{
				color :#ffa200; 
				font-size: 3rem;
			}
			strong { 
				color: #ffa200;
				font-size: 1.5rem;
				small{
					text-align: center;
					color: #ffa200;
					font-size: 2rem;
				}
			}
		}

		.highlight{
			background-color:$fondo;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom:1rem;
			
			h3{
				text-align: center;
				font-size: 40px;
				color: #c7b854;
				padding-top:1.5rem;
				padding-bottom:1.5rem;
			}
			p{
				text-align: center;
				font-size: 20px;
				color:  #c7b854;
				padding-left:1rem;
				padding-right:1rem;
				padding-top:1rem;
				padding-bottom:1rem;
				font-weight: bold;
			}
			iframe{
				height:200px;
			}
		}

		.notasDeParche__titulo{
			color: #ffa200;
			font-size: 40px;
			text-align:center;
		}
		.notasDeParche__contenedor{
			display:flex;
			flex-direction:column;
			div{
				padding-top:1rem;
			}

		}
		.notasDeParche__campeon{
			display: flex;
			flex-direction: column;
			text-align: center;
			h4{
				text-align: center;
				color: #ffa200;
			}
			p{
				font-size:20px;
				color: rgb(255,255,255);
				text-align: left;
			}
		}
		.carousel-item img{
			width:100%;
			height:180px;
		}
		#myCarousel{
			padding:0;
		}
		.notasDeParche__titulo__aspectos{
			font-size: 40px;
			color: #ffa200;
			text-align:center;
			justify-content:center;
			align-items:center;
			display:flex;
			padding-top:1rem;
			padding-bottom:1rem;
		}
		.notasDeParche__item{
			display: flex;
			flex-direction: column;
			text-align: center;
			h4{
				text-align: center;
				color: #ffa200;
				font-size: 1.5rem;
			}
			strong{
				text-align: center;
				color: #ffa200;
				font-size: 1.5rem;
				small{
					color: rgba(255,162,0,1);
				}
			}
		}

		.contacto_formulario-estilo{
			color:#d3d694;
			
			fieldset{
				background-color:$fondo;
			}
		}

		footer{
			div{
				div{
					#logoFooter{
						border-radius: 151px;
						width:80%;
					}				
				}
			}

			background-color: $fondo;
			padding-top:10px;
			padding-bottom:10px;
			.footer__paginasDeInteres ul{
				list-style: none;
				padding: 0;
			}
			.footer__redesSociales {

				ul{

					list-style: none;	
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-around;
					margin:0;
					padding:0;

					li{
						display:flex;
						padding:0;
						a{
							display:flex;
							justify-content:center;
							align-items:center;
						}
						.logoRedSocial{
							width:70%;
						}
					}
				}
			}
			.footer__paginasDeInteres ul li a{
				color :#c7b854;
				text-decoration: none;
			}
			.footer__paginasDeInteres{
				padding-top:10px;
				padding-bottom:10px;
				ul{					
					margin:0;
					li{

						a:hover{
							color:white;
						}
					}
				}

				font-size: 20px;
				text-align: center;
			}
		}
	}
}